.SideBar ul a:not(:last-child) {
  margin-bottom: 8px;
}
.SideBar ul a {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  color: #8b909a;
  cursor: pointer;
  font-size: 14px;
  padding: 12px;
  font-weight: 400;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.SideBar ul a.activeSection,
.SideBar ul a:hover {
  background-color: #f3f4f8;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.SideBar ul a.activeSection svg {
  filter: brightness(0) invert(0);
}
nav ul li {
  color: #8b909a;
}

.AddProducts .browse-files span {
  position: relative;
  top: -30px;
  color: #0f60ff;
}
.AddProducts .default-file-input {
  opacity: 0;
}
::-webkit-file-upload-button {
cursor: pointer;
}