.techImg::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #d1cece;
  opacity: 10%;

}

.electronics > div{
  border: 1px solid #e2dede;
}
.electronics  .more {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 25px;
  z-index: 4;
  /* margin-top: 50px; */
}
@media (max-width:768px) {
.electronics  .more {
    padding:20px;
  }
}
.product-tech:nth-child(1),
.product-tech:nth-child(2),
.product-tech:nth-child(4),
.product-tech:nth-child(5){
  border-right: 1px solid #e0e0e0;
}
@media (max-width:991px) {
  .product-tech {
  border-right: 1px solid #e0e0e0;
}
}
.product-tech:nth-child(1),
.product-tech:nth-child(2),
.product-tech:nth-child(3){ 
  border-bottom: 1px solid #e0e0e0;
}
@media (max-width:991px) {
.product-tech:nth-child(1),
.product-tech:nth-child(2),
.product-tech:nth-child(3),
.product-tech:nth-child(4) {
  border-bottom: none;
}
}