@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
  border-bottom: 1px solid #e4e4e4;
}
@media (max-width:1280px) {
  .header{
    border:none;
  }
  
}
.icon {
  position: relative;
  z-index: 8;
}
.icon::before {
  content: "";
  background-color: #0a75ff;
  position: absolute;
  z-index: -2;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 5px 0px 0px rgb(96 165 250/40%);
}
.menu-button {
  /* padding-top: 11px; */
  /* padding-bottom: 9px; */
  box-shadow: inset 1px 1px 0px 20px rgb(255 255 255 / 8%);
}
.search-input {
  height: 100%;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 6px;
  position: relative;
}
.dropping {
  position: relative;
}
.header .dropping::after {
  content: "";
  background-color: #0a75ff;
  position: absolute;
  left: 0;
  top:-1px ;
  height: calc(100% + 2px) ;
  width: 1px;
}
input:focus{
  outline: none;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
textarea{
  resize: none;
}
.search-categories {
  /*border-color: #0a75ff;*/
  border: 1px solid #0a75ff;
  height: 40px;
  padding-bottom: 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.button {
  background-color: #0a75ff;
  height: 38px;
  font-weight: 500;
  cursor: pointer;
    box-shadow: inset -10px 10px 20px 0px rgb(255 255 255 / 15%);
  }
  .button-shadow {
      background-color: #0a75ff;

  box-shadow: inset -10px 10px 20px 0px rgb(255 255 255 / 15%);
}
.actions li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #8b96a5;
  line-height: -1px;
  font-size: 12px;
}
.actions li a svg {
  font-size: 20px;
  color: #8b96a5;
}
.show {
  left: 0 !important;
}
#default-search:focus {
border: 1px solid #d6d6d6;
caret-color: #0a75ff;
caret-shape: 4px;
}