.InquirySection {
  border: 1px solid #e0e0e0;
  background-image: url(../imgs/inquiry-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.InquirySection::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgb(44, 124, 241);
  background: linear-gradient(    90deg,    rgba(44, 124, 241, 1) 0%,    rgba(0, 209, 255, 0.5) 100%  );
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.InquirySection .inquiry-text {
  z-index: 9;
}
#order-item:focus{
  border: 1px solid #e0e0e0;

}
#order-item:focus::placeholder{
  opacity: 0;
}
#order-details:focus{
  border: 1px solid #e0e0e0;
outline: none;
}
#order-details:focus::placeholder{
  opacity: 0;
}
#select-order:focus{
  border: 1px solid #e0e0e0;
outline: none;
}
#select-order:focus::placeholder{
  opacity: 0;
}
.button-inquiry {
  /* background-color: #096ff3; */
  height: 38px;
  font-weight: 500;
  cursor: pointer;
  background: rgb(18,127,255);
background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    /* box-shadow: inset 10px 10px 20px 0px rgba(255, 255, 255, 0.15),5px 5px 20px 0px rgba(255, 255, 255, 0.1); */
}
.InquirySection .dropping{
  border: 1px solid #e0e0e0;
}